

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh
}

* {
  color: lightgray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fira-thin-italic {
  font-family: "Fira Sans", monospace;
  font-weight: 200;
  font-style: italic;
}

.fira-thin {
  font-family: "Fira Sans", monospace;
  font-weight: 200
}

.fira-regular-italic {
  font-family: "Fira Sans", monospace;
  font-weight: 400;
  font-style: italic;
}

.fira-regular {
  font-family: "Fira Sans", monospace;
  font-weight: 400
}

.fira-bold-italic {
  font-family: "Fira Sans", monospace;
  font-weight: 600;
  font-style: italic;
}

.fira-bold {
  font-family: "Fira Sans", monospace;
  font-weight: 600
}

